/* Custom normalization */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

input {
    border-radius: 0 !important;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

table, th, td, tr, thead, tbody {
    border: 0;
}

/* Envisioned Theme */
body {
    background-color: black;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2rem;
    color: #838383;
    font-family: "droidsans";
    text-shadow: 1px 1px 1px #ffffff;
}

a {
    color: #090909;
}

a:hover {
    color: #343434;
}

header {
    h1 {
        color: white;
        font-family: "blackjack";
        font-size: 3.6rem;
        text-shadow: 0px 0px 5px black;
        margin-bottom: 35px;
    }
}

h2, h3, h4, h5, h6, .service h3.title, #quote-inner p, a.additional-info, h4.widgettitle, h1.category-title, h2.title, h3#comments, .entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, h3#reply-title span, .post p.meta-info, #sidebar h4.widgettitle, #featured .description h2, .comment-meta, .wp-pagenavi span, .wp-pagenavi a, .wp-pagenavi span.current {
    font-family: "colaborate";
}

#top {
    padding-top: 65px;
    padding-bottom: 60px;
}

#top-shadow {
    background: url(images/top-content-shadow-bg.png) repeat-x bottom left;
}

#bottom-light {
    background: url(images/bottom-light-bg.png) no-repeat bottom center;
}

nav {
    &.nav-header {
        ul {
            background-color: #343434;
            border-radius: 10px;
            border: 1px outset #777777;
            padding: 15px 25px;
        }
    }

    ul {
        li {
            display: inline-block;
            font-size: 1.2rem;
            margin: 0px;
            padding: 0px;
            padding-right: 20px;
            text-shadow: 1px 0px 0px #11161c;

            a {
                color: white;

                &:hover {
                    color: #929292;
                    font-family: Georgia;
                    font-style: italic;
                }
            }
        }
    }
}

#left-area {
    width: 70%;
    float: left;
}

#sidebar {
    width: 30%;
    float: left;
}

h4.widget-title {
    font-size: 2.4rem;
    color: #1f262d;
    padding: 0px 10px 14px;
    text-shadow: 1px 1px 1px #fff;
}

.widget {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #CCC;
    padding: 20px 25px;
    margin-bottom: 38px;
    color: #5e5e5e;
    text-shadow: none;

    ul {
        list-style-type: circle;

        li {
            background: url(images/sidebar-bullet.png) no-repeat 0px 15px;
            padding: 8px 0 8px 12px;
            display: block;

            a {
                color: #5e5e5e;
                text-shadow: none;
                text-decoration: none;
            }
        }
    }
}

#breadcrumbs {
    font-size: 1.2rem;
    color: #7e7d7d;
    margin-bottom: 40px;
    margin-top: -43px;
    text-shadow: 1px 1px 1px #ffffff;

    a {
        color: #a3a3a3;
    }
}

.form {
    background-color: white;
    padding: 32px 37px 32px 32px;
    text-align: left;
}

.form p input {
    margin: 0 !important;
    border: 1px solid #e7e7e7;
    color: #363636;
    font-size: 14px;
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 1%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f3f3f3), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top, #f3f3f3 1%,#fefefe 100%);
    background: -o-linear-gradient(top, #f3f3f3 1%,#fefefe 100%);
    background: -ms-linear-gradient(top, #f3f3f3 1%,#fefefe 100%);
    background: linear-gradient(to bottom, #f3f3f3 1%,#fefefe 100%);
    padding: 20px 20px 20px 10px;
    width: 100%;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.form input[type=checkbox] {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.form-button {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%);
    border: 1px solid #e7e7e7;
    padding: 14px 24px;
    color: #999;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    -webkit-box-shadow: inset 1px 1px 0 0 #fff;
    -moz-box-shadow: inset 1px 1px 0 0 #fff;
    box-shadow: inset 1px 1px 0 0 #fff;
}

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border-color: #2D3940;
    color: #3e3e3e;
}

#category-name {
    margin-bottom: -40px;
}

.category-title {
    font-family: Colaborate;
    font-size: 30px;
    color: #ffffff;
    padding-top: 63px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.main-content {
    background-image: url("images/pattern.jpg");
    border-top: 1px solid #ffffff;

    h2.title {
        font-size: 3.0rem;
        padding-bottom: 11px;
        margin-bottom: 0;

        a {
            color: #1f262d;
            text-decoration: none;
        }
    }

    .post {
        padding: 0px 60px 40px 0px;

        p {
            font-family: "droidsans";
        }

        p.meta-info {
            font-family: "colaborate";
            background: url(images/title-bg.png) no-repeat;
            padding: 15px 0 17px;
            font-size: 1.8rem;
            color: #505050;
            text-shadow: 1px 1px 1px #fff;

            a {
                color: #090909;
                text-decoration: none;
            }
        }

        .post-thumbnail {
            display: block;
            float: left;
            position: relative;
            margin-right: 30px;
            height: 225px;
            width: 225px;
        }

        a.read-more span {
            display: block;
            height: 29px;
            padding-left: 12px;
        }
    }

    #comment-wrap {
        padding-right: 60px;

        .comment-wrap {
            padding: 18px 18px 8px 29px;
            width: 100%;

            .comment-meta {
                color: #1f262d;
                font-size: 2.4rem;
                margin-bottom: 12px;
                text-shadow: 1px 1px 1px #fff;
            }
        }

        h3#comments, h3#reply-title span {
            font-size: 30px;
            color: #1f262d;
            background: url(images/title-bg.png) no-repeat bottom left;
            padding-bottom: 33px;
            margin-bottom: 5px;
            display: block;
            text-shadow: 1px 1px 1px #fff;
        }

        .commentlist {
            width: 100%;
        }

        .reply-container {
            font-size: 1.2rem;
            height: 29px;
            line-height: 28px;
            padding-right: 60px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            display: block;
            float: right;
        }

        .comment-body {
            position: relative;
            padding-left: 82px;
            margin-bottom: 30px;
            width: 100%;
        }

        .comment-container {
            background-color: white;
            border-radius: 5px;
            padding: 0 2px 0 1px;
        }

        .avatar-container {
            position: absolute;
            top: 0;
            left: 0;

            .avatar-box, .avatar-overlay {
                width: 68px;
                height: 68px;

                .avatar-box img {
                    margin: 6px 0 0 6px;
                }
            }
        }
    }
}

.content-shadow {
    background: url(images/content-shadow-bg.png) repeat-x top left;
    padding-top: 70px;
    padding-bottom: 37px;
}

.pre-footer {
    background-image: url("images/bg.jpg");
    background-position: top center;
    padding-top: 55px;
    padding-bottom: 50px;
    text-shadow: 1px 0px 0px black;
    line-height: 2.1rem;
    color: #8b949d;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

    .pre-footer-heading {
        font-size: 2.4rem;
        color: #ffffff;
        padding-bottom: 15px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    p {
        font-family: "droidsans";
    }

    ul {
        li {
            background: url(images/footer-bullet.png) no-repeat 0 8px;
            padding: 0px 0 10px 18px;

            a {
                color: #8b949d;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
            }
        }
    }
}

footer {
    background-image: url("images/footer-bg.png");
    padding: 25px 0;
}

.btn {
    color: #1c2329;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    float: right;
    padding: 6px 12px;
    text-shadow: 1px 0px 0px white;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

@media screen and (max-width: 960px) {
    .one-third.column {
        width: 100%;
        margin-left: 0;
    }

    .container {
        width: 95%;
    }

    #sidebar {
        display: none;
    }

    #left-area {
        width: 100%;
        float: none;
    }

    .pre-footer-heading {
        margin-top: 20px;
    }
}